h1 {
	background-color : darkblue;
	color : yellow;
	float : middle;
	border: 0.5em solid white

}

body {
	font-family:  : Arial, sans-serif;
	background-color: lightgreen;
	color: black;
	}

div:nth-child(odd) { 
	color: red;
	
	}

